<mat-card class="card-container">

    <mat-card-header>
        <mat-card-title>
            <h3>Liste des commandes</h3>
        </mat-card-title>
        <mat-card-subtitle>
            <span [ngPlural]="commandsList.length">
                <ng-template ngPluralCase="=0"></ng-template>
                <ng-template ngPluralCase="=1">1 commande affichée</ng-template>
                <ng-template ngPluralCase="other">{{ commandsList.length }} commandes affichées</ng-template>
            </span>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-list cols="2" rowHeight="50px" class="list">
            <mat-list-item *ngIf="commandsList.length>0" class="list-header">
                <span class="list-element">
                    Intitulé
                </span>
                <span class="list-element">
                    Commentaires
                </span>
            </mat-list-item>
        </mat-list>
        <mat-nav-list cols="2" rowHeight="50px" class="list">
            <mat-list-item *ngFor="let command of commandsList" (click)="onSelectCommand(command)" role="button" class="list-row">
                <span class="list-element">
                    {{ command.title }}
                </span>
                <span class="list-element">
                    {{ command.remarks }}
                </span>
            </mat-list-item>
            <div *ngIf="commandsList.length==0" class="alert alert-info">
              Aucune commande en cours
            </div>
        </mat-nav-list>
  </mat-card-content>

  <mat-card-actions>
      <span class="list-button-zone">
          <span class="spacer">
          </span>
          <button mat-fab (click)="onCreateCommand()" class="list-button">
              <span class="list-button-icon">
                  <mat-icon>add</mat-icon>
              </span>
          </button>
    </span>
  </mat-card-actions>

</mat-card>

<div *ngIf="newResource">
    <edit-command [selectedCommand]="selectedCommand" [newResource]="newResource">
    </edit-command>
</div>
