<mat-card class="card-container">

    <div class="card-control">

        <span class="spacer">
        </span>

        <button mat-icon-button (click)="onCloseCard()" class="card-close-button">
            <span>
                <mat-icon>close</mat-icon>
            </span>
        </button>

    </div>

    <mat-card-header>
        <mat-card-title>
            <h3>Ajout ou modification de commande</h3>
        </mat-card-title>
    </mat-card-header>



    <form (ngSubmit)="onSubmit()" #commandForm="ngForm">
        <div class="form-container">

            <mat-card-content class="form-container">

                <mat-form-field>
                    <input matInput placeholder="Label" id="label"
                    required
                    [(ngModel)]="currentCommand.title" name="title"
                    >
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Remarques" id="remarks"
                    [(ngModel)]="currentCommand.remarks" name="remarks"
                    >
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions>
                <span>
                    <button type="submit" color="primary" mat-raised-button class="form-button">Enregistrer</button>

                    <button *ngIf="!newResource" (click)="onDelete()" color="warn" mat-raised-button class="form-button">Supprimer</button>

                </span>
            </mat-card-actions>
        </div>

    </form>


</mat-card>
