<mat-card class="card-container" *ngIf="ready">

    <mat-card-header>
        <mat-card-title>
            <h2>Modifier série</h2>
        </mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" #serieForm="ngForm">

        <div class="form-container">

            <mat-card-content>

                <mat-form-field>
                    <input matInput type="text" placeholder="Titre" id="title"
                    required
                    [(ngModel)]="selectedSerie.title" name="title"
                    >
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" placeholder="Saison" id="season"
                    required
                    [(ngModel)]="selectedSerie.season" name="season"
                    >
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Emplacement" id="location"
                    required
                    [(ngModel)]="selectedSerie.Location.id" name="location"
                    >
                        <mat-option *ngFor="let location of locationsList" [value]="location.id">{{ location.label }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Remarques" id="remarks"
                    [(ngModel)]="selectedSerie.remarks" name="remarks"
                    >
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions>

                <span>

                    <button type="submit" color="primary" mat-raised-button class="form-button">Enregistrer</button>

                    <button *ngIf="!newResource" (click)="onDelete()" color="warn" mat-raised-button class="form-button">Supprimer</button>

                </span>

            </mat-card-actions>

        </div>

    </form>


</mat-card>
