<div *ngIf="ready">

    <h2 *ngIf="newResource" mat-dialog-title>Nouvelle série</h2>
    <h2 *ngIf="!newResource" mat-dialog-title>Modifier série</h2>


    <form (ngSubmit)="onSubmit()" #serieForm="ngForm">

        <mat-dialog-content>

            <div class="form-container">

                <mat-form-field class="form-control">
                    <input matInput type="text" placeholder="Titre" id="title"
                    required
                    [(ngModel)]="selectedSerie.title" name="title"
                    >
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput type="number" placeholder="Saison" id="season"
                    required
                    [(ngModel)]="selectedSerie.season" name="season"
                    >
                </mat-form-field>

                <mat-form-field class="form-control">
                    <mat-select placeholder="Emplacement" id="location"
                    required
                    [(ngModel)]="selectedSerie.location" name="location"
                    >
                        <mat-option *ngFor="let location of locationsList" [value]="location.id">{{ location.label }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput type="text" placeholder="Remarques" id="remarks"
                    [(ngModel)]="selectedSerie.remarks" name="remarks"
                    >
                </mat-form-field>

            </div>

        </mat-dialog-content>

        <mat-dialog-actions>

            <div class="card-control-end">

                <span><button type="submit" color="primary" mat-raised-button>Enregistrer</button></span>
                <span></span>
                <span><button *ngIf="!newResource" (click)="onDelete()" color="warn" mat-raised-button>Supprimer</button></span>

            </div>

        </mat-dialog-actions>


    </form>


</div>
