<mat-card class="card-container">

    <mat-card-header>
        <mat-card-title>
            <h2>Liste des films</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <form (ngSubmit)="searchMovies()" #searchMovieForm="ngForm">

            <div class="top-header">

                <span style="flex: 1;"></span>

                <span>
                    <button type="button" (click)="onNewMovie()" color="primary" mat-raised-button class="form-button">Nouveau film</button>
                </span>

                <span style="flex: 3;"></span>

                <span>
                    <mat-form-field>
                        <input matInput type="text" id="title" placeholder="Titre à rechercher"
                        [(ngModel)]="query.title" name="title"
                        >
                    </mat-form-field>
                </span>

                <span style="flex: 0.5;"></span>

                <span>
                    <button type="submit" mat-raised-button class="form-button">Rechercher</button>
                </span>

                <span style="flex: 1;"></span>

            </div>

        </form>


        <mat-list cols="5" rowHeight="50px" class="list">
            <mat-list-item class="list-header">
              <span class="list-element" role="button" (click)="onSortMovies(1)"> Titre <i class="fa fa-fw fa-sort"></i></span>
              <span class="list-element" role="button" (click)="onSortMovies(2)"> Localisation <i class="fa fa-fw fa-sort"></i></span>
              <span class="list-element" role="button" (click)="onSortMovies(3)"> Année de sortie <i class="fa fa-fw fa-sort"></i></span>
              <span class="list-element" role="button" (click)="onSortMovies(4)"> Durée <i class="fa fa-fw fa-sort"></i></span>
              <span class="list-element"> Remarques </span>
            </mat-list-item>
        </mat-list>
        <mat-list cols="4" rowHeight="50px" class="list">
            <mat-list-item *ngFor="let element of moviesListPage" role="button" (click)="onEditMovie(element.Movie.id)" class="list-row">
              <span class="list-element"> {{ element.Movie.title }} </span>
              <span class="list-element"> {{ element.Location.location }} </span>
              <span class="list-element"> {{ element.Movie.year }} </span>
              <span class="list-element"> {{ element.Movie.duration }} mins. </span>
              <span class="list-element"> {{ element.Movie.remarks }} </span>
          </mat-list-item>
        </mat-list>

    </mat-card-content>

    <mat-card-actions>
        <mat-paginator [length]="listLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card-actions>

</mat-card>
