<mat-card class="card-container">

    <mat-card-header>
        <mat-card-title>
            <h4 class="card-title">Liste des films</h4>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <form class="form-inline justify-content-center" (ngSubmit)="searchMovies()" #searchMovieForm="ngForm">

        <span>
            <a routerLink="/porygon/add/movie"><button color="primary" mat-raised-button class="form-button">Nouveau film</button></a>
        </span>

        <span class="spacer"></span>

        <span class="form-group">
            <label class="sr-only" for="title">Recherche</label>
            <input type="text" class="form-control mt-2 mr-sm-1" id="title" placeholder="Titre à rechercher"
            required
            [(ngModel)]="movieSearch" name="title"
            >
        </span>

        <button type="submit" mat-raised-button class="form-button">Rechercher</button>

        </form>

        <mat-list cols="4" rowHeight="50px" class="list">
            <mat-list-item class="list-header">
              <span class="list-element" role="button" (click)="onSortMovies(1)"> Titre <i class="fa fa-fw fa-sort"></i></span>
              <span class="list-element" role="button" (click)="onSortMovies(2)"> Localisation <i class="fa fa-fw fa-sort"></i></span>
              <span class="list-element" role="button" (click)="onSortMovies(3)"> Année de sortie <i class="fa fa-fw fa-sort"></i></span>
              <span class="list-element"> Remarques </span>
            </mat-list-item>
        </mat-list>
        <mat-list cols="4" rowHeight="50px" class="list">
            <mat-list-item *ngFor="let movie of moviesListPage" [routerLink]="['/porygon/details/movie', movie.id]" class="list-row">
              <span class="list-element"> {{ movie.title }} </span>
              <span class="list-element"> {{ movie.Location.label }} </span>
              <span class="list-element"> {{ movie.year }} </span>
              <span class="list-element"> {{ movie.remarks }} </span>
          </mat-list-item>
        </mat-list>

    </mat-card-content>

    <mat-card-actions>
        <mat-paginator [length]="listLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card-actions>

</mat-card>
