<div *ngIf="resourcesReady == 2">


    <h2 *ngIf="newResource" mat-dialog-title>Nouveau film</h2>
    <h2 *ngIf="!newResource" mat-dialog-title>Modifier film</h2>


    <form (ngSubmit)="onSubmit()" #movieForm="ngForm">

        <mat-dialog-content>

            <div class="form-container">

                <mat-form-field class="form-control">
                    <input matInput type="text" placeholder="Titre" id="title"
                    required
                    [(ngModel)]="selectedMovie.title" name="title"
                    >
                </mat-form-field>

                <mat-form-field class="form-control">
                    <mat-select placeholder="Emplacement" id="location_id"
                    required
                    [(ngModel)]="selectedMovie.location_id" name="location_id"
                    >
                        <mat-option *ngFor="let location of locationsList" [value]="location.id">{{ location.location }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput type="number" placeholder="Année de sortie" id="year"
                    required
                    [(ngModel)]="selectedMovie.year" name="year"
                    >
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput type="number" placeholder="Durée (en mins)" id="duration"
                    required
                    [(ngModel)]="selectedMovie.duration" name="duration"
                    >
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput type="text" placeholder="Réalisateur" id="director"
                    [(ngModel)]="selectedMovie.director" name="director"
                    >
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput type="text" placeholder="Acteurs principaux" id="actors"
                    [(ngModel)]="selectedMovie.actors" name="actors"
                    >
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput type="text" placeholder="Remarques" id="remarks"
                    [(ngModel)]="selectedMovie.remarks" name="remarks"
                    >
                </mat-form-field>

            </div>

        </mat-dialog-content>

        <mat-dialog-actions>
            <div class="card-control-end">

                <span><button *ngIf="!newResource" (click)="onDelete()" color="warn" mat-raised-button>Supprimer</button></span>

                <span></span>

                <span><button type="submit" color="primary" mat-raised-button>Enregistrer</button></span>
            </div>
        </mat-dialog-actions>

    </form>


</div>
