.card-container {
    z-index: 2;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;

}

.card-control {
    display: flex;
}

.spacer {
    flex: 1
}
.card-close-button {
    align-content: flex-end;
    outline: none;
}
