.card-container {
    z-index: 2;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;

}

.card-control {
    display: flex;
}

.spacer {
    flex: 1;
}
.card-close-button {
    align-content: flex-end;
    outline: none;
}

.top-header {
    display: flex;
    justify-content: space-around;
}

.card-control-end {
    margin-right: 20%;
    margin-left: auto;
    flex-direction: row;
    display: flex;
}

.card-control-end span {
    flex: 1;
    margin-left: 4%;
    margin-right: 4%;
}

mat-dialog-content .card-control-end {
    margin-left: 40%;
    margin-right: auto;
    flex-direction: row;
    display: flex;
}

mat-dialog-content .card-control-end span {
    flex: 1;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
