.card-container {
    margin-bottom: 4px;
    margin-left: 4%;
    margin-right: 4%;
}

.card-control {
    display: flex;
}

.spacer {
    flex: 1
}
.card-close-button {
    align-content: flex-end;
    outline: none;
}
