<div class="container">

    <h2>Nouvel emplacement</h2>

    <form (ngSubmit)="onSubmit()" #locationForm="ngForm">

        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" [maxlength]="40" class="form-control" id="label"
            required
            [(ngModel)]="newLocation.label" name="label"
            #label="ngModel" placeholder="Champ requis"
            >
        </div>
        <div [hidden]="label.valid || label.pristine" class="alert alert-danger">
          Label requis
        </div>

        <button [disabled]="!locationForm.form.valid" type="submit" class="btn btn-success">Enregistrer</button>

    </form>


</div>
