<div class="jumbotron">
    <h1 class="display-3">Bienvenue sur l'application <strong>Porygon</strong></h1>
    <p class="lead">Cette application permet de visualiser facilement la position
        des différents films et séries stockées dans le réseau domestique</p>
    <hr class="my-4">
    <p> Ci-dessous, un détail des différentes fonctionnalités présentes sur
        l'application
    </p>
</div>

<div class="container-fluid">
<div class="card-columns">

        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Liste des éléments</h3>
                <p class="card-text">
                    Affichage d'une liste des <strong>films, séries</strong> avec des informations
                    de <strong>base</strong> ainsi que leur <strong>emplacement</strong>.
                </p>
                <p class="card-text">
                  Possibilités de <strong>tris</strong> et de <strong>recherche rapide</strong>.
                </p>

                <div class="text-center">
                  <a href="/porygon/list" class="btn btn-primary">Accéder à la liste</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Statistiques détaillées</h3>
                <p class="card-text">
                    Affichage de statistiques détaillées sur les différents espaces de stockage
                </p>
                <div class="alert alert-warning">Probablement réalisé par la suite, à voir.</div>

                <div class="text-center">
                  <a class="btn btn-primary disabled">Statistiques</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Importation</h3>
                <p class="card-text">
                    Importation de documents au format CSV pour ajouter massivement des éléments
                </p>
                <div class="alert alert-warning">
                  Pas sûr que je le fasse.
                  Probablement peu pertinent sachant qu'on veut pouvoir trier
                  pendant qu'on met dans la liste
                </div>

                <div class="text-center">
                  <a class="btn btn-primary disabled">Importation</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Commandes</h3>
                <p class="card-text">
                    Récapitulatif de films et séries à récupérer avec suivi de la commande
                </p>

                <div class="text-center">
                  <a href="/porygon/commands" class="btn btn-primary">Accéder aux commandes</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Recherche et filtrage</h3>
                <p class="card-text">
                    Recherche avancée sur la base de données afin de trouver les
                    résultats les plus pertinents dans le cas d'un objectif
                    de recherche précis
                </p>
                <p class="card-text">
                  Exemples de recherches possibles :
                </p>
                <ul class="card-text">
                  <li>Titre</li>
                  <li>Emplacement</li>
                  <li>Réalisateur ou acteurs</li>
                </ul>

                <div class="text-center">
                  <a href="/porygon/search" class="btn btn-primary">Effectuer une recherche avancée</a>
                </div>
            </div>
        </div>

</div>
</div>
