<div *ngIf="tabReady" class="tabs-group">
<!-- Wait until all necessary data are avaible -->

    <mat-tab-group>

        <mat-tab label="movies">

            <ng-template mat-tab-label class="tab-element">
                Films
            </ng-template>

            <div class="tab-element">
                <list-movies></list-movies>
            </div>

        </mat-tab>


        <mat-tab label="series">

            <ng-template mat-tab-label>
                Séries
            </ng-template>

            <div>
                <list-series></list-series>
            </div>

        </mat-tab>

        <mat-tab label="locations">

            <ng-template mat-tab-label>
                Emplacements
            </ng-template>

            <div>
                <list-locations></list-locations>
            </div>

        </mat-tab>

    </mat-tab-group>
</div>
