<div *ngIf="tabReady" class="card text-center">
<!-- Wait until all necessary data are avaible -->

    <div class="mt-1">
        <ngb-tabset type="pills" justify="center" [(activeId)]="selectedTab" (tabChange)="onTabChange($event)" #tabset="ngbTabset">


            <ngb-tab title="Films" id="movies">
                <ng-template ngbTabContent>

                    <list-movies></list-movies>

                </ng-template>
            </ngb-tab>


            <ngb-tab title="Séries" id="series">
                <ng-template ngbTabContent>

                    <list-series></list-series>

                </ng-template>
            </ngb-tab>

            <ngb-tab title="Emplacements" id="locations">
                <ng-template ngbTabContent>

                    <list-locations></list-locations>

                </ng-template>

            </ngb-tab>

        </ngb-tabset>
    </div>
</div>
