
<div class="background">
    <div class="mat-elevation-z4">
        <mat-toolbar class="navbar-container">
            <span class="navbar-element">
                <button mat-button class="navbar-button" routerLink="/porygon">Porygon</button>
            </span>
            <span class="navbar-element">
                <button mat-button class="navbar-button" routerLink="/porygon/list">Liste</button>
            </span>
            <span class="navbar-element">
                <button mat-button class="navbar-button" routerLink="/porygon/commands">Commandes</button>
            </span>
            <span class="navbar-element">
                <button mat-button class="navbar-button" routerLink="/porygon/search">Recherche avancée</button>
            </span>

        </mat-toolbar>
    </div>

    <router-outlet></router-outlet>
    
</div>
