<div *ngIf="!submitted">

    <mat-card class="card-container">

        <mat-card-header>
            <mat-card-title>
                <h2>Recherche avancée</h2>
            </mat-card-title>
        </mat-card-header>

    </mat-card>

    <form (ngSubmit)="onSubmit()" #searchForm="ngForm">

        <mat-card class="card-container">

            <mat-card-header>
                <mat-card-title>Préparation de la recherche</mat-card-title>
            </mat-card-header>


            <div class="form-container">

                <mat-card-content>

                    <section class="form-section">
                        <mat-checkbox [(ngModel)]="isMovie" name="isMovie">
                            Film
                        </mat-checkbox>

                        <mat-checkbox [(ngModel)]="isSerie" name="isSerie">
                            Série
                        </mat-checkbox>
                    </section>

                    <mat-form-field>
                        <input matInput ype="text" placeholder="Titre" id="label"
                        [(ngModel)]="title" name="title"
                        >
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Emplacement" id="location"
                        [(ngModel)]="location" name="location"
                        >
                            <mat-option *ngFor="let location of locationsList" [value]="location.id">{{ location.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </mat-card-content>

            </div>
        </mat-card>

        <mat-card *ngIf="isMovie" class="card-container">

            <mat-card-header>
                <mat-card-title>
                    <h4>Applicable uniquement aux films</h4>
                </mat-card-title>
            </mat-card-header>

            <div class="form-container">

                <mat-card-content>

                    <mat-form-field>
                        <input matInput type="text" placeholder="Réalisateur" id="director"
                        [(ngModel)]="director" name="director"
                        >
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="text" placeholder="Acteurs principaux" id="actors"
                        [(ngModel)]="actors" name="actors"
                        >
                    </mat-form-field>

                </mat-card-content>

            </div>

        </mat-card>

        <mat-card *ngIf="isSerie" class="card-container">

            <mat-card-header>
                <mat-card-title>
                    <h4>Applicable uniquement aux séries</h4>
                </mat-card-title>
            </mat-card-header>

            <div class="form-container">

                <mat-card-content>

                    <mat-form-field>
                        <input matInput ype="number" placeholder="Saison" id="season"
                        [(ngModel)]="season" name="season"
                        >
                    </mat-form-field>

                </mat-card-content>

            </div>

        </mat-card>

        <mat-card class="card-container">

        <div>
          <button color="primary" mat-raised-button type="submit">Rechercher</button>

          <button mat-raised-button (click)="onReset()" [disabled]="!canReset()">Réinitialiser</button>
        </div>

        </mat-card>

    </form>
</div>


<div *ngIf="submitted">

    <mat-card class="card-container">
        <mat-card-title>
            <h2>Résultat de la recherche</h2>
        </mat-card-title>
    </mat-card>

    <mat-card *ngIf="isMovie" class="card-container">

      <mat-card-title>
          <h3 class="card-title">Films</h3>
      </mat-card-title>

      <mat-card-content>

          <mat-list cols="4" rowHeight="50px" class="list">
              <mat-list-item class="list-header">
                <span class="list-element"> Titre </span>
                <span class="list-element"> Localisation </span>
                <span class="list-element"> Année de sortie </span>
                <span class="list-element"> Remarques </span>
              </mat-list-item>
          </mat-list>
          <mat-list cols="4" rowHeight="50px" class="list">
              <mat-list-item *ngFor="let movie of moviesList" [routerLink]="['/porygon/details/movie', movie.id]" class="list-row">
                <span class="list-element"> {{ movie.title }} </span>
                <span class="list-element"> {{ movie.Location.label }} </span>
                <span class="list-element"> {{ movie.year }} </span>
                <span class="list-element"> {{ movie.remarks }} </span>
            </mat-list-item>
          </mat-list>

      </mat-card-content>

    </mat-card>


    <mat-card *ngIf="isSerie" class="card-container">

      <mat-card-title>
          <h3 class="card-title">Séries</h3>
      </mat-card-title>

      <mat-card-content>

          <mat-list cols="4" rowHeight="50px" class="list">
              <mat-list-item class="list-header">
                <span class="list-element"> Titre </span>
                <span class="list-element"> Saison </span>
                <span class="list-element"> Localisation </span>
                <span class="list-element"> Remarques </span>
              </mat-list-item>
          </mat-list>
          <mat-list cols="4" rowHeight="50px" class="list">
              <mat-list-item *ngFor="let serie of seriesList" [routerLink]="['/porygon/details/serie', serie.id]" class="list-row">
                <span class="list-element"> {{ serie.title }} </span>
                <span class="list-element"> {{ serie.season }} </span>
                <span class="list-element"> {{ serie.Location.label }} </span>
                <span class="list-element"> {{ serie.remarks }} </span>
            </mat-list-item>
          </mat-list>

      </mat-card-content>

    </mat-card>

</div>
